{% extends 'base.html' %}
{% block title %}
    Signup page
{% endblock %}
{% block style %}
    html{


    }
    .send-button{
background: #54C7C3;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.g-button{
color: #fff !important;
border: 1px solid #EA4335;
background: #ea4335 !important;
width:100%;
font-weight: 600;
color:#fff;
padding: 8px 25px;
}
.my-input{
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
cursor: text;
padding: 8px 10px;
transition: border .1s linear;
}
.header-title{
margin: 5rem 0;
}
h1{
font-size: 31px;
line-height: 40px;
font-weight: 600;
color:#4c5357;
}
h2{
color: #5e8396;
font-size: 21px;
line-height: 32px;
font-weight: 400;
}
.login-or {
position: relative;
color: #aaa;
margin-top: 10px;
margin-bottom: 10px;
padding-top: 10px;
padding-bottom: 10px;
}
.span-or {
display: block;
position: absolute;
left: 50%;
top: -2px;
margin-left: -25px;
background-color: #fff;
width: 50px;
text-align: center;
}
.hr-or {
height: 1px;
margin-top: 0px !important;
margin-bottom: 0px !important;
}
@media screen and (max-width:480px){
h1{
font-size: 26px;
}
h2{
font-size: 20px;
}
}
{% endblock %}
{% block content %}
       <div class="container">
                 <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <p> Fill your details!</p>
    {{ form.errors }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
      <div class="col-md-6 mx-auto text-center">

         <div class="header-title">
            <h1 class="wv-heading--title">
               Check out — it’s free!
            </h1>
{#            <h2 class="wv-heading--subtitle">#}
{#      write matter to display          #}
{#            </h2>#}
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">

            <div class="myform form ">
               <form method="post" >
                   {% csrf_token  %}
                  <div class="form-group">
                      <center>{{ form.username.label_tag }}</center>

							<input type="text" name="{{ form.username.html_name }}" class="form-control input_user" value="{{ form.username.value }}" placeholder="username">
                  </div>
                  <div class="form-group">
                      <center>{{ form.password1.label_tag }}</center>
							<input type="password" name="{{ form.password1.html_name }}" class="form-control input_pass" value="{{ form.password1.value }}" placeholder="password">
                  </div>
                   <div class="form-group">
                       <center>{{ form.password2.label_tag }}</center>
							<input type="password" name="{{ form.password2.html_name }}" class="form-control input_pass" value="{{ form.password2.value }}" placeholder="retype your password">
                  </div>
                  <div class="text-center ">
                     <button type="submit" class=" btn btn-block send-button tx-tfm">Create Your Free Account</button>
                  </div>
                  <p class="small mt-3">By signing up, you are indicating that you have read and agree to the <a href="#" class="ps-hero__content__link">Terms of Use</a> and <a href="#">Privacy Policy</a>.
                  </p>
               </form>
            </div>
         </div>
      </div>
   </div>
{#    <h2>SIGN UP</h2>#}
{#    <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Sign up</button>#}
{#    </form>#}
{#    <P>If you already register please click</P>#}
{#    <a href="{% url 'login' %}">LOGIN</a>#}
{% endblock %}